.container{
    margin: 8px 0px 8px 0px;
    position: relative;
}
.label{
    margin: 8px 0px 8px 0px;
    font-size: 14px;

}
.textarea{
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 8px;
    border: 1px solid #f4f4f4;
    color: black;
    width: 100%;
    display:block;
    font-size: 14px;
    min-height: 3rem
}
textarea:focus{
    border: 1px solid #F8FAFC;

}
textarea::placeholder{
    font-size: 14px
}